.content-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    background-color: #c02942;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}